@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  margin:0;
}

body {
  text-align: center;
}

header {
  display: flex;
  padding: 5px 60px;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  border-bottom: solid 3px black;
}
.navbar {
  display: flex;
  column-gap: 20px;
  list-style: none;
}

ul li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 800;
  color: black;
}

.active {
  color: gray;
}

.logo p {
  font-size: 20px;
  font-weight: 800;
  font-family: Pacifico, sans-serif;
}

.books_container {
  margin-top: 30px;
  display: none;
}

.list-table {
  margin: 0 auto;
  width: 50%;
  text-align: left;
  border: 2px solid;
}

table tr {
  display: grid;
  grid-template-columns: 200px 200px 100px;
  justify-items: left;
  padding: 6px 20px 3px 10px;
  height: 30px;
}

tr:hover {
  background-color: #e0c5c57a;
}

table tr:nth-child(even) {
  background-color: rgba(128, 128, 128, 0.411);
}

.form-group {
  margin: 20px 0;
}

.form-group > label {
  width: 60px;
  display: inline-block;
  text-align: left;
}

#add_book {
  display: none;
  margin-top: 100px;
}

.contact-us {
  visibility: hidden;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - 90px);
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}

.contact-us h2 {
  padding: 40px 0;
}

.contact-us p {
  padding-bottom: 20px;
}

.contact-us ul {
  padding-left: 60px;
  margin-top: -20px;
}
.contact-us li {
  list-style-type: none;
  display: flex;
  align-items: flex-start;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 66px;
  font-weight: 800;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 11px 0 #c5c2c2;
}
